html, body {
	background: #555;
	font-family: "Liberation Sans", sans-serif;
	height: 100%;
	width: 100%;
	position: fixed;
}

.gritter-item { font-family: "Liberation Sans", sans-serif; }
#container { height: 100%; }
#sd_canvas {
	background: white;
	cursor: crosshair;
}

#sd_controller {
	position: absolute;
	top: 0;
	background-image: -webkit-linear-gradient(#fafafa, #f5f5f5, #eee);
	background-image: -moz-linear-gradient(#fafafa, #f5f5f5, #eee);
	border-bottom: 2px solid white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	width: 100%;
}

#sd_hooks {
	padding: 15px 15px 0 15px;
}

#sd_hooks input {
	margin: 0;
	padding: 2px 6px;
	margin-right: 7px;
}

#sd_toggle {
	top: 0;
	cursor: pointer;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -moz-linear-gradient(#eee, #ddd);
	padding: 3px 6px;
	border: 2px solid white;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	color: #666;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 10px;
	-webkit-transition: 0.3s color;
	-moz-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}
#sd_toggle:hover {
	-webkit-transition: 0.3s color;
	-moz-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
	color: black;
}
