html, body {
	background: #555;
	font-family: "Liberation Sans", sans-serif;
	height: 100%;
	width: 100%;
	position: fixed;
}

.gritter-item { font-family: "Liberation Sans", sans-serif; }
#container { height: 100%; }
#sd_canvas {
	background: white;
	cursor: crosshair;
}

#sd_controller {
	position: absolute;
	top: 0;
	background-image: -moz-linear-gradient(#fafafa, #f5f5f5, #eee);
	border-bottom: 2px solid white;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
	height: 50px;
	width: 100%;
}

#sd_toggle {
	top: 0;
	cursor: pointer;
	background-image: -moz-linear-gradient(#eee, #ddd);
	padding: 5px;
	border: 2px solid white;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	color: #444;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
	position: absolute;
	left: 10px;
}
