html, body {
	background: #555;
	font-family: "Liberation Sans", sans-serif;
}

#container {
	width: 90%;
	margin: 10px auto;
	background: white;
	background-image: -moz-linear-gradient(#fff, #eee 50px);
	background-image: -webkit-linear-gradient(#fff, #eee 50px);
	border-radius: 3px;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
}

#sd_canvas {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: -1px 0 0px rgba(0, 0, 0, 0.25);
	vertical-align: top;
}

label {
	display: block;
	font-size: 90%;
}

label span {
	display: inline-block;
}

fieldset {
	padding: 6px;
	padding-bottom: 0;
}

fieldset:last-child {
	padding-bottom: 10px;
}

#sidebar {
	display: inline-block;
	width: 235px;
	padding-left: 5px;
	vertical-align: top;
}

span input {
	display: inline-block;
	position: relative;
}
